/* Dots */
.slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slick-dots li button {
    font-size: 0;
    width: 62.61px;
    height: 3px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    margin: 0 5px;
}

.slick-dots li.slick-active button {
    background: #ffffff;
}